.income-expense {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100vh - 60px); /* Adjust based on the height of your header */
  width: 100%;
  margin: 0;
}

.income-expense-content {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  background-color: #dbdad7;
}

.income-expense-header {
  text-align: center;
}

.filters {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  justify-content: center;
}

.filters select {
  padding: 10px;
  border: 1px solid #0a0000;
  border-radius: 4px;
  font-size: 16px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table th, table td {
  border: 1px solid #070404;
  padding: 10px;
  text-align: left;
}

table th {
  background-color: #f2f2f2;
}

.total {
  text-align: right;
  font-weight: bold;
  font-size: 18px;
}
